<div class="container">
  <div class="ordem-compra" *ngIf="this.idPedidoCompra === undefined">
    <form [formGroup]="formulario" (ngSubmit)="confirmarCompra()" novalidate>

      <h5>Sua Compra</h5>
      <hr />

      <div class="ordemCompraExiste" *ngIf="carrinhoService.exibirItens().length; else carrinhoVazio">

        <div class="form-row" *ngFor="let item of itensCarrinho"
          style="background: #FAFAFA; padding: 20px; border-bottom: solid 1px #F0F0F0">
          <div class="form-group col-sm-1">
            <img [src]="item.img.url" class="img-fluid">
          </div>
          <div class="form-group col-sm-6">
            {{item.titulo}}
            <br />
            {{ item.descricao_oferta }}
          </div>

          <div>
            <div class="row">
              <div class="col">
                <button (click)="subtrair(item)" type="button" class="btn btn-link">-</button>
                {{ item.quantidade }}
                <button (click)="adicionar(item)" type="button" class="btn btn-link">+</button>
              </div>
            </div>
          </div>

          <div class="form-group col-sm-3 d-flex justify-content-end">
            {{ item.valor * item.quantidade | currency:'BRL': true}}
          </div>
        </div>


        <div class="form-row">
          <div class="form-group col d-flex justify-content-end">
            <h4>Total do pedido: {{ carrinhoService.totalCarrinhoCompras() | currency: 'BRL': 'symbol'}}</h4>
          </div>
        </div>

      </div>

      <ng-template #carrinhoVazio>
        <div class="form-row d-flex justify-content-center" 
          style="background: #FAFAFA; padding: 20px; border-bottom: solid 1px #F0F0F0">
          Seu carrinho está vazio! Não perca tempo, aproveite as ofertas.
        </div>
      </ng-template>
      

      <br />

      <h5>Dados de entrega</h5>
      <hr />

      <div class="form-row">

        <div class="form-group col-md-6">
          <input type="text" class="form-control" placeholder="Endereço" formControlName="endereco" autocomplete="off">
          <small class="form-text text-success"
            *ngIf="formulario.get('endereco').valid && formulario.get('endereco').touched">Ok</small>
          <small class="form-text text-danger"
            *ngIf="formulario.get('endereco').invalid && formulario.get('endereco').touched">Endereço Inválido</small>
        </div>

        <div class="form-group col-md-2">
          <input type="text" class="form-control" placeholder="Número" formControlName="numero" autocomplete="off">
          <small class="form-text text-success"
            *ngIf="formulario.get('numero').valid && formulario.get('numero').touched">Ok</small>
          <small class="form-text text-danger"
            *ngIf="formulario.get('numero').invalid && formulario.get('numero').touched">Número Inválido</small>
        </div>

        <div class="form-group col-md-4">
          <input type="text" class="form-control" placeholder="Complemento" formControlName="complemento"
            autocomplete="off">
        </div>

      </div>
      <br />

      <h5>Dados de pagamento</h5>
      <hr />

      <div class="form-row">

        <div class="form-group col-md-3">
          <select class="form-control" formControlName="formaPagamento">
            <option value="" selected >Selecione uma opção</option>
            <option value="dinheiro">Dinheiro</option>
            <option value="debito">Débito</option>
          </select>
          <small class="form-text text-success"
            *ngIf="formulario.get('formaPagamento').valid && formulario.get('formaPagamento').touched">Ok</small>
          <small class="form-text text-danger"
            *ngIf="formulario.get('formaPagamento').invalid && formulario.get('formaPagamento').touched">Forma de
            Pagamento Inválido</small>
        </div>
      </div>

      <hr />
      <!-- [disabled]="!formulario.valid" -->
      <button type="submit" class="btn btn-primary btn-lg">
        Cofirmar compra
      </button>
    </form>

  </div>

  <div class="ordemcompra" *ngIf="this.idPedidoCompra !== undefined">
    <app2-ordem-compra-sucesso [idPedidoCompra]="idPedidoCompra"> </app2-ordem-compra-sucesso>
  </div>
</div>